table.recent-work {
  width: 100%;
  background: $recent;
}

h2.recent-work-h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: $header;
}

img.recent-work-img {
  display: block;
  margin: 0 auto 15px auto;
  width: 185px !important;
  height: 139px !important;
}
