<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width" />
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>

<body>

  <table class="body">
    <tr>
      <td>
        <center>
          <table class="header">
            <tr>
              <td>

                <center>
                  <spacer size="44"></spacer>
                  <container class="logo no-bg">
                    <row>
                      <columns large="6" small="6">
                        <h4>FreebiesGallery</h4>
                      </columns>
                      <columns large="6" small="6">
                        <a href="#" id="my-btn" class="right">Go to Website</a>
                      </columns>
                    </row>
                  </container>


                  <container class="no-bg">
                    <row>
                      <columns large="12">
                        <h2 class="text-center header-looking">Are your looking for a</h2>
                      </columns>
                    </row>
                  </container>

                  <container class="no-bg">
                    <row>
                      <columns large="12">
                        <p class="text-center header-designer">free lance designer</p>
                      </columns>
                    </row>
                  </container>

                  <container class="no-bg">
                    <row>
                      <columns large="4"></columns>
                      <columns large="4"><a href="#" class="header-contact">
                          <h6 class="text-center">contact now</h6>
                        </a></columns>
                      <columns large="4"></columns>
                    </row>
                  </container>
                </center>


              </td>
            </tr>
          </table>

          <table class="after-header">
            <tr>
              <td>

                <center>
                  <spacer size="96"></spacer>
                  <cotainer>
                    <row>
                      <columns class="design" large="5">
                        <img class="design-img float-center" src="img/left-img.jpg" alt="img">
                         <spacer size="20"></spacer>
                        <h6 class="text-center">RESPONSIVE WEB DESIGN</h6>
                        <spacer size="27"></spacer>
                        <p class="lorem descr text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante urna, placerat eu euismod dictum, aliquam et sapien. Ut at risus commodo, eleifend sem cursus</p>
                      </columns>
                      <columns large="2"></columns>
                      <columns class="design" large="5">
                        <img class="design-img float-center" src="img/right-img.jpg" alt="img">
                          <spacer size="20"></spacer>
                        <h6 class="text-center">MOBILE APP DESIGNS</h6>
                        <spacer size="27"></spacer>
                        <p class="lorem descr text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante urna, placerat eu euismod dictum, aliquam et sapien. Ut at risus commodo, eleifend sem cursus</p>
                      </columns>
                    </row>
                  </cotainer>
                       <spacer size="77"></spacer>
                </center>

              </td>
            </tr>
          </table>

          <table class="recent-work">
            <tr>
              <td>
                <center>
                  <spacer size="45"></spacer>
                  <container class="no-bg">
                    <row>
                      <columns large="12" small="12">
                        <h2 class="recent-work-h2 text-center">recent work</h2>
                      </columns>
                    </row>
                  </container>

                  <spacer size="34"></spacer>

                  <container class="no-bg">
                    <row>
                      <!-- <columns large="2"></columns> -->
                      <columns large="12">
                        <p class="text-center lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante urna, placerat eu euismod dictum, aliquam et sapien. Ut at risus commodo, eleifend sem cursus, interdum velit.</p>
                      </columns>
                      <!-- <columns large="2"></columns> -->
                    </row>
                  </container>
                </center>
              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>


</body>

</html>
