<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width" />
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>

<body>

  <table class="body">
    <tr>
      <td>
        <center>
          <table class="header">
            <tr>
              <td>

                <center>
                  <spacer size="44"></spacer>
                  <container class="logo no-bg">
                    <row>
                      <columns large="6" small="6">
                        <h4>FreebiesGallery</h4>
                      </columns>
                      <columns large="6" small="6">
                        <a href="#" id="my-btn" class="right">Go to Website</a>
                      </columns>
                    </row>
                  </container>


                  <container class="no-bg">
                    <row>
                      <columns large="12">
                        <h2 class="text-center header-looking">Are your looking for a</h2>
                      </columns>
                    </row>
                  </container>

                  <container class="no-bg">
                    <row>
                      <columns large="12">
                        <p class="text-center header-designer">free lance designer</p>
                      </columns>
                    </row>
                  </container>

                  <container class="no-bg">
                    <row>
                      <columns large="4"></columns>
                      <columns large="4"><a href="#" class="header-contact">
                          <h6 class="text-center">contact now</h6>
                        </a></columns>
                      <columns large="4"></columns>
                    </row>
                  </container>
                </center>


              </td>
            </tr>
          </table>

          <table class="after-header">
            <tr>
              <td>

                <center>
                  <spacer size="96"></spacer>
                  <cotainer>
                    <row>
                      <columns class="design" large="5">
                        <img class="design-img float-center" src="img/left-img.jpg" alt="img">
                         <spacer size="20"></spacer>
                        <h6 class="text-center">RESPONSIVE WEB DESIGN</h6>
                        <spacer size="27"></spacer>
                        <p class="lorem descr text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante urna, placerat eu euismod dictum, aliquam et sapien. Ut at risus commodo, eleifend sem cursus</p>
                      </columns>
                      <columns large="2"></columns>
                      <columns class="design" large="5">
                        <img class="design-img float-center" src="img/right-img.jpg" alt="img">
                          <spacer size="20"></spacer>
                        <h6 class="text-center">MOBILE APP DESIGNS</h6>
                        <spacer size="27"></spacer>
                        <p class="lorem descr text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante urna, placerat eu euismod dictum, aliquam et sapien. Ut at risus commodo, eleifend sem cursus</p>
                      </columns>
                    </row>
                  </cotainer>
                       <spacer size="77"></spacer>
                </center>

              </td>
            </tr>
          </table>

          <table class="recent-work">
            <tr>
              <td>
                <center>
                  <spacer size="45"></spacer>
                  <container class="no-bg">
                    <row>
                      <columns large="12" small="12">
                        <h2 class="recent-work-h2 text-center">recent work</h2>
                      </columns>
                    </row>
                  </container>

                  <spacer size="34"></spacer>

                  <container class="no-bg">
                    <row>
                      <!-- <columns large="2"></columns> -->
                      <columns large="12">
                        <p class="text-center lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante urna, placerat eu euismod dictum, aliquam et sapien. Ut at risus commodo, eleifend sem cursus, interdum velit.</p>
                      </columns>
                      <!-- <columns large="2"></columns> -->
                    </row>
                  </container>

                  <spacer size="54"></spacer>

                       <container class="no-bg">
                    <row>
                      <columns large="4" class="recent-work-img float-">
                        <img class="recent-work-img" src="img/recent-work-img1.jpg" alt="image" align="center">
                      </columns>
                      <columns large="4">
                        <img class="recent-work-img" src="img/recent-work-img2.jpg" alt="image" align="center">
                      </columns>
                      <columns large="4">
                        <img class="recent-work-img" src="img/recent-work-img3.jpg" alt="image" align="center">
                      </columns>
                    </row>
                       </container>

                          <!-- <spacer size="10"></spacer> -->
                       <container class="no-bg">
                    <row>
                      <columns large="4">
                        <img class="recent-work-img" src="img/recent-work-img4.jpg" alt="image" align="center">
                      </columns>
                      <columns large="4">
                        <img class="recent-work-img" src="img/recent-work-img5.jpg" alt="image" align="center">
                      </columns>
                      <columns large="4">
                        <img class="recent-work-img" src="img/recent-work-img6.jpg" alt="image" align="center">
                      </columns>
                    </row>
                       </container>

                   <spacer size="53"></spacer>
                </center>
              </td>
            </tr>
          </table>

          <table class="get-started">
            <tr>
              <td>
                <center>
                  <spacer size="56"></spacer>
                  <container>
                    <row>
                      <columns>
                        <h2>get started!</h2>
                      </columns>
                    </row>
                  </container>

                  <container class="get-started-container">
                    <row>

                      <columns large="8" valign="bottom">
                        <!-- <spacer size="20"></spacer> -->
                        <p class="lorem get-started-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                      </columns>
                      <columns large="4">
                        <a href="#" class="get-started-a right">contact now</a>
                      </columns>
                    </row>
                    <spacer size="61"></spacer>

                  </container>

                  <container class="footer">
                    <row>
                      <columns large="2"></columns>
                      <columns large="8">
                        <p class="footer-p lorem">FreebiesGallery, 329 Notingham Street, San Francisco, CA 94307</p>
                      </columns>
                      <columns large="2"></columns>
                    </row>

                    <row>
                      <columns large="2"></columns>
                      <columns large="8">
                        <p class="footer-p lorem text-center">Don't want to receive anymore emails?<a href="#" class="footer-a lorem">  Unsubscribe</a></p>
                      </columns>
                      <columns large="2"></columns>
                    </row>
                  </container>
                  <spacer size="22"></spacer>

                  <container class="social">
                    <row>
                      <columns large="2"></columns>
                      <columns large="8" class="social-main">
                        <p class="text-center">
                        <a href="#"><img src="img/facebook.jpg" alt="image"></a>
                        <a href="#"><img src="img/twitter.jpg" alt="image"></a>
                        <a href="#"><img src="img/google+.jpg" alt="image"></a>
                        <a href="#"><img src="img/lindekin.jpg" alt="image"></a>
                        <a href="#"><img src="img/pinterest.jpg" alt="image"></a>
                        </p>
                      </columns>
                      <columns large="2"></columns>
                    </row>
                  </container>
                  <spacer size="104"></spacer>
                </center>
              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>


</body>

</html>
